@{
    ViewData["Title"] = "Home Page";
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monster Finder</title>
</head>
<body>
    <h1 class="display-4">Monster DnD Finder</h1>
</body>
</html>
@* 
<head>
    <meta charset= "utf-8"

</head>
<div class="text-center">
    <h1 class="display-4">Monster Finder</h1>
    <p</p>
</div> *@
